<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>栅格+flex</title>
    <style type="text/css">
      .row{
        display:flex;
        flex-flow:wrap;
        justify-content:center;
        align-items:center;
      }
      .col{
        flex:1;
        background: lightcoral;
        border:1px solid pink;
      }
    </style>
  </head>
  <body>
      <div class="row">
          <div class="col">111</div>
          <div class="col">222</div>
          <div class="col">333</div>
          <div class="col">444</div>
      </div>
  </body>
</html>