<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>flex</title>
      <style type="text/css">
        .parent {
          display: flex;
        }
        .left,.right{
          width: 100px;
          background: lightblue;
        }
        .center{
          flex:1;
          background: lightcoral;
        }
      </style>
  </head>
  <body>
      <div class="parent">
          <div class="left">left</div>
          <div class="center">center</div>
          <div class="right">right</div>
      </div>
  </body>
</html>